/AllNumbersStartingWith1.class
/EvenList.class
/FindDuplicateElements.class
/MapAndFilter.class
/MaxElement.class
/RemoveDuplicateElements.class
/Sorting.class
/SumOfAllNumbers.class
/TotalElements.class
